body {
  margin: 0;
  padding: 0;
  font-family: "Averia Serif Libre", serif;
}

a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
}

/* navbar */

#navbar {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  /* margin: -10px; */
  /* padding: 20px; */
  padding-top: 20px;
  padding-bottom: 20px;
}

#navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navbar ul li {
  padding-left: 20px;
}

/* hero */

#hero {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: #e60303;
  /* height: 100%; */
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
  grid-template-rows: 500px 40px 70px;
}

.logo {
  grid-column: 1 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -120px;
}

.welcome {
  grid-column: 2 / 3;
  display: flex;
  /* justify-content: center; */
  /* pad */
}

.phantom-thieves {
  grid-column: 2 / 5;
}

.will-take-your-heart {
  grid-column: 2 / 3;
  padding-right: 5px;
}

.website {
  display: flex;
  justify-content: flex-end;
}

/* content */

.container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* what are we */

#what-are-we {
  display: flex;
  gap: 10px;
  /* flex-wrap: wrap; */
}

#what-are-we img {
  border-radius: 10px;
}

/* What we did */

#what-we-did {
}

.photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  color: #e60303;
}

.photos img {
  border: 2px solid black;
  border-radius: 10px;
  height: 200px;
  width: 200px;
}

/* contact */

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

#contact h2 {
  margin-bottom: -1px;
}

#contact img {
  width: 200px;
}

#contact button {
  border-radius: 10px;
  background-color: #e60303;
}

/* footer */
#footer {
  width: 100%;
  background-color: #e60303;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

/* responsive */

@media screen and (max-width: 1193px) {
  #what-are-we {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .photos {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 690px) {
  #navbar {
    font-size: 12px;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .logo img {
    height: 250px;
  }

  .welcome img {
    height: 20px;
  }

  .phantom-thieves img {
    height: 30px;
  }

  .will-take-your-heart img {
    height: 20px;
  }

  .website img {
    height: 20px;
  }

  .img-phantom-thieves-card img {
    width: 350px;
    height: 300px;
  }

  .photos img {
    border: 2px solid black;
    border-radius: 10px;
    height: 150px;
    width: 150px;
  }

  #contact p{
    margin-left: 30px;
  }
}
